{require_min_otp_vsn, "18"}.
{erl_opts, [
  debug_info
]}.

{profiles, [
  {prod, [
    {deps, [
      {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}}
    ]}
  ]},
  {doc, [
    {deps, [
      {edown, ".*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
    ]}
  ]}
]}.

{eunit_opts, [
  verbose,
  {report,{eunit_surefire,[{dir,"."}]}}
]}.

{edoc_opts, [{doclet, edown_doclet}
             , {app_default, "http://www.erlang.org/doc/man"}
             , {new, true}
             , {packages, false}
             , {overview, "overview.edoc"}
             , {stylesheet, ""}   % don't copy stylesheet.css
             , {image, ""}        % don't copy erlang.png
             , {top_level_readme, {"./README.md", "https://github.com/glejeune/jwerl"}}
            ]}.
